<!DOCTYPE html>
<html>
    <head>
        {{> head}}
    </head>
    <body>      
        <div class="container">
            <div class="page-header">
                <h1>{{title}}</h1>
            </div>        
            <h3>{{message}}</h3>
        </div> <!-- container -->
    </body>
</html>