<!DOCTYPE html>
<html>
    <head>
        {{> head}}
    </head>
    <body>           
        <div class="container">

            <section class="jumbotron text-xs-center">
            <div class="container">
                <h1 class="jumbotron-heading">Welcome to Crypto @FESB</h1>
                <p class="lead text-muted">In this exercise, we are going to learn how to setup TLS tunnel in Node.js. Among other things, we will see how to configure TLS server to support authentication of clients based on digital certificates.</p>
            </div>
            </section>        
            
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form class="col-md-12" method="post" action="/login">
                    <div class="form-group">
                        <input type="text" name="username" class="form-control input-lg" placeholder="Username" value={{usr}}>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control input-lg" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block">Sign In</button>
                    </div>
                    <p class="text-center text-info">{{message}}</p>                    
                </form>                
            </div>            
            <div class="col-md-4"></div> 
                   
        </div><!-- container -->
        
        {{> foot}}        
    </body>                
</html>